[Desktop Entry]
Version=1.0
Name=Cortez 
Comment=Cortez P2P Cryptocurrency
Comment[fr]=Cortez, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Cortez, eşten eşe kriptografik sanal para birimi
Exec=cortez-qt %u
Terminal=false
Type=Application
Icon=pivx128
MimeType=x-scheme-handler/cortez;
Categories=Office;Finance;
StartupWMClass=cortez-qt
